language: php

php:
  - 5.3.3
  - 5.4
  - 5.5
  - 5.6

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install

before_script:
  - mkdir -p build/logs

script:
  - ./vendor/bin/phpspec run

after_success:
  - php vendor/bin/coveralls -v

